<div class="splash-header">
	<div class="logo"><a href="/"><img src="/media/images/logo-full.png" alt="ji-chan.com" /></a></div>
	<div class="play"><a href="/play">Play</a></div>
</div>
<div class="splash-content-section">
	<div class="splash-content">
		<h2>Lorem Ipsum</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation
			ullamco laboris nisi ut aliquip ex ea commodo consequat.
			Duis aute irure dolor in reprehenderit in voluptate velit
			esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
			occaecat cupidatat non proident, sunt in culpa qui officia
			deserunt mollit anim id est laborum.
		</p>
	</div>
</div>
<div class="splash-footer">
	<h3>Credits</h3>
	<div class="credit latorri">
		<h4>LaTorri Lindsay</h4>
		<h5>Design</h5>
		<ul class="social-links">
			<li class="facebook"><a href="https://www.facebook.com/latorri"><img src="/media/images/facebook-icon.png" alt="facebook" /></a></li>
			<li class="twitter"><a href="https://twitter.com/latorril"><img src="/media/images/twitter-icon.png" alt="twitter" /></a></li>
		</ul>
	</div>
	<div class="credit lorenzo">
		<h4>Lorenzo Pisani</h4>
		<h5>Code</h5>
		<ul class="social-links">
			<li class="facebook"><a href="https://www.facebook.com/zeelot3k"><img src="/media/images/facebook-icon.png" alt="facebook" /></a></li>
			<li class="twitter"><a href="https://twitter.com/zeelot3k"><img src="/media/images/twitter-icon.png" alt="twitter" /></a></li>
			<li class="google"><a href="https://plus.google.com/u/0/111765330500402947569"><img src="/media/images/google-icon.png" alt="google" /></a></li>
		</ul>
	</div>
</div>