<div class="game-header">
	<div class="logo"><a href="/"><img src="{{media_url}}/images/logo-full.png" alt="ji-chan.com" /></a></div>
	<div class="player-score">0</div>
</div>
<div class="board-container"></div>