<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="generator" content="{{app_version}}">
	<title>{{title}}</title>

	<script type="text/javascript">
	// <![CDATA[
		// Global Kohana object
		Kohana = {{#js_export}}{{{js_export}}}{{/js_export}}{{^js_export}}{}{{/js_export}};
	// ]]>
	</script>

	{{#js_templates}}
	<script type="text/template" class="template" data-path="{{path}}">
		{{{template}}}
	</script>
	{{/js_templates}}

[[assets_head]]
[[assets_body]]
</head>
<body id="{{view_name}}">
</body>
</html>