/**
 * Colors by color name
 *
 * Describe the colors in this section.
 * $white: #fefefe;
 * $grey: #666;
 * $teal: #005F63;
 * $limeLight: #e7ef8a;
 */

/**
 * Colors by purpose
 *
 * Describe the usage in this section. These variables should use the Colors by name
 * and the other files should use the Colors by purpose.
 * $colorSiteBackground: $grey;
 * $colorNavHover: $teal;
 * $colorNavBackground: $lineLight;
 */

$font-sans-serif: 'Signika', sans-serif;
$font-fancy: 'Julee', cursive;

.font-regular {
	font-family: $font-sans-serif;
}
.font-fancy {
	font-family: $font-fancy;
}

// Browns
$color-spring-wood: #EADFD5;
$color-tan: #D5B696;
$color-aths-special: #DBCCB7;
$color-tobacco: #705946;
$color-dark-rimu: #724332;
$color-bracken: #5C4532;
$color-paco: #4F3F32;

$color-text-light: $color-tan;
$color-text-buttons: $color-aths-special;
$color-text-dark: $color-paco;

.color-button-primary {
	@extend .color-text-buttons;
	@include background-image(linear-gradient($color-tobacco, $color-bracken));
	@include border-radius(5px);
	@include single-box-shadow($color-spring-wood, 1px, 1px, 1px);

	background-repeat: repeat-x;
	background-color: $color-bracken;


	border-color: darken($color-bracken, 5%);
	border-width: 1px;
	border-style: solid;

	&:hover {
		// @TODO: implement this
	}
	&:active {
		// @TODO: implement this
	}
}

.color-text-light {
	color: $color-text-light;
}

.color-text-dark {
	@include text-shadow(rgba(#FFF, 0.75) 1px 1px 2px);
	color: $color-text-dark;
}

.color-text-buttons {
	@include text-shadow(rgba(darken($color-bracken, 5%), 0.75) 1px 1px 0, rgba($color-spring-wood, 0.75) 1px 1px 3px, darken($color-bracken, 5%) -1px -1px 0);
	color: $color-text-buttons;
}

.color-splash-content-section {
	@extend .color-text-light;
	@include border-radius(5px);
	@include single-box-shadow($color-spring-wood, 0, 1px, 1px);
	background: url("../../images/darkwood.png") repeat-y 50%;
}